@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #3A3A3A;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 400;
}

ul,
li,
a,
span {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.btn-style {
    background: #E02C6D;
    color: #fff;
    display: inline-block;
    padding: 9px 30px;
    border-radius: 34px;
    transition: .3s ease-in-out;
}

.btn-style:hover {
    background: #d6628d;
}

.btn-style i {
    margin-left: 4px;
}

/* =============== Defolt main css End ================= */

/* =============== Header css content start =============== */

.header_main_area {
    padding: 40px 0 20px 0;
}

.header_main_text_area {
    display: flex;
    justify-content: space-between;
}

.header_main_text_area ul {
    display: flex;
    align-items: center;
}

.header_main_text_area ul li a {
    display: inline-block;
    padding: 5px 12px;
    font-size: 16px;
    color: #000;
}

/* =============== Header css content End =============== */
/* =============== Banner css content start =============== */

.banner_content_right_area img {
    width: 500px;
    height: auto;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.banner_content_right_area img:hover {
    transform: scale(1.1);
}

/* =============== Banner css content End =============== */

/* =============== Banner css content End =============== */
.banner_main_area {
    padding: 70px 0;
}

.banner_main_text_area {
    display: flex;
    align-items: center;
    column-gap: 10%;
}

.banner_content_left_area {
    flex: 0 0 45%;
}

.banner_content_left_area p {
    padding: 23px 0;
}

.banner_content_right_area {
    flex: 0 0 45%;
}


/* =============== Banner css content End =============== */
/* =============== Banner css content End =============== */

.blog_main_area {
    padding: 70px 0;
}

.blog_single_main_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
}

.blog_main_text_area>h2 {
    text-align: center;
    padding-bottom: 50px;
}

/* single item area start  */
.blog_single_content_area {
    padding-top: 15px;
}

.blog_single_item {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.blog_single_item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog_start_mark ul {
    display: flex;
    align-items: center;
}

.blog_start_mark ul li span {
    color: #FB8200;
    font-size: 22px;
}

.blog_single_content_area p {
    color: #787885;
    font-size: 16px;
}

.blog_main_text_area a {
    display: block;
    text-align: right;
    color: #E02C6D;
    margin-top: 35px;
}

.blog_main_text_area a:hover {
    text-decoration: underline;
}

/* =============== Blog css content End =============== */

/* =============== feauter css content Start =============== */
.feauter_main_area {
    padding: 70px 0;
}

.feauter_main_left_area img {
    width: 100%;
}

.feauter_main_text_area {
    display: flex;
    align-items: center;
    column-gap: 8%;
}

.feauter_main_left_area {
    flex: 0 0 46%;
}

.feauter_main_right_area {
    flex: 0 0 46%;
}

.feauter_main_right_area a {
    border-radius: 3px;
}

.feauter_main_right_area p {
    padding: 20px 0;
}

/* =============== feauter css content End =============== */

/* =============== Footer css content Start =============== */
.footer_main_area {
    padding: 30px 0;
    background: #0A0826;
    text-align: center;
    color: #fff;
}


.footer_main_text_area h2,
.footer_main_text_area p {
    color: #fff;
}

.footer_main_text_area ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_main_text_area ul li a {
    display: inline-block;
    font-size: 22px;
}

.footer_main_text_area ul li a {
    display: inline-block;
    font-size: 26px;
    height: 50px;
    width: 50px;
    background: gray;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50px;
    color: #fff;
    line-height: 2;
}


/* =============== Footer css content End =============== */